# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/build/
/dist/
*.out
*.o

# Go test output
*.test

# Go workspace
go.work
go.work.sum

.vscode/
.DS_Store
*.log
tmp/
*.tmp

# Env files
.env
.env.*
*.env
